body {
  /* margin: 0; */
  font-family: OpenSans;
}

.container-fluid {
  padding: 0 !important;
}

hr.new5 {
  width: 4%;
  border: 2px solid black;
  border-radius: 25px;
  margin: auto !important;
}

hr.new4 {
  width: 10%;
  border: 2px solid black;
  border-radius: 25px;
  margin: auto !important;
}

hr.new3 {
  width: 25%;
  border: 2px solid black;
  border-radius: 25px;
  margin: auto !important;
}

/* INI PAKE NAVBAR MANUAL */
#navbar {
  width: 100%;
  background-color: #487eb0;
  display: flex;
  padding: 20px 0; /* atas bawah 20px, kiri kanan 0 */
  flex-basis: 100%;
  position: relative;
}

.logo {
  width: 100%;
  padding-left: 25px;
}

.logo a {
  color: whitesmoke;
}

.logo a:hover {
  color: red;
}

.menu {
  padding-right: 5%;
  display: flex;
  justify-content: flex-end;
}

.wrapper-list-menu {
  display: flex; /* buat samping-sampingan */
  list-style-type: none; /* biar ul list-nya ilang ga bulet */
  margin: 0; /* efek margin di li, di 0 biar ilang */
  padding: 0; /* efek margin kasi pading 0 */
}

.wrapper-list-menu li {
  margin-left: 15px;
  margin-right: 25px;
}

.a-style-navbar {
  font-size: 24px;
  text-decoration: none;
  color: whitesmoke;
}

.wrapper-list-menu li a:hover {
  color: red;
}

/* END CSS PAKE NAVBAR MANUAL */

.navbar {
  padding-right: 5%;
  display: flex;
  /* justify-content: flex-end; */
  background-color: #487eb0;
  color: whitesmoke;
  overflow: hidden;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar .icon {
  display: none;
}

.wrapper-menu-navbar {
  display: flex; /* buat samping-sampingan */
  list-style-type: none; /* biar ul list-nya ilang ga bulet */
  margin: 0; /* efek margin di li, di 0 biar ilang */
  padding: 0; /* efek margin kasi pading 0 */
  justify-content: flex-end; /* tulisan menu-nya ke kanan semua */
}

.wrapper-menu-navbar li {
  margin-left: 15px;
  margin-right: 25px;
  margin-top: 10px;
}

.a-style-navbar-x {
  font-size: 24px;
  text-decoration: none;
  color: whitesmoke;
}

.banner .wrapper-banner {
  padding: 0;
  position: relative;
  width: 100%;
  height: 500px;
  /*   background-color: #dededd; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center center; */
}

.banner .wrapper-banner .wrapper-text-banner {
  text-align: center;
}

.banner .wrapper-banner .wrapper-text-banner .hero-judul {
  font-weight: bold;
  font-size: 64px;
}

.banner .wrapper-banner .wrapper-text-banner .hero-subjudul {
  font-size: 18px;
}

/* .banner .wrapper-banner img {
  width: 100%;
} */

.product-details .box-right {
  padding-left: 5%;
  padding-right: 5%;
}

.product {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #f4f7f4;
}

/* .product img {
  padding-bottom: 5%;
} */

.product .product-box {
  padding: 5%;
}

.product .card-deck {
  display: flex;
  padding-bottom: 25px;
  padding-right: 15%;
  padding-left: 15%;
  justify-content: space-around;
}

.product .card-deck .card {
  margin: 50px;
}

.product .card-deck .card .card-body h5 {
  font-style: italic;
  text-align: center;
}

.product .card-deck .card .card-body p {
  text-align: justify;
  text-justify: inter-word;
}

.product-details .box-right {
  justify-content: center;
  align-items: center;
  background-color: white;
}

.subscribe {
  padding-top: 5%;
}

.subscription {
  background-color: #f2f2f2;
  padding: 10%;
}

.footer {
  /* padding-right: 5%; */
  display: flex;
  /* justify-content: flex-end; */
  background-color: #487eb0;
}

.wrapper-menu-footer {
  display: flex; /* buat samping-sampingan */
  list-style-type: none; /* biar ul list-nya ilang ga bulet */
  margin: 0; /* efek margin di li, di 0 biar ilang */
  padding: 0; /* efek margin kasi pading 0 */
  justify-content: flex-end; /* tulisan menu-nya ke kanan semua */
}

.wrapper-menu-footer li {
  /* margin-left: 15px; */
  margin-right: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.a-style-footer-x {
  font-size: 18px;
  text-decoration: none;
  color: whitesmoke;
}

/* @media only screen and (max-width: 442px) {
  .a-style-navbar-x {
    display: none;
  }

  .banner .wrapper-banner .wrapper-text-banner .hero-judul {
    font-weight: bold;
    font-size: 32px;
  }

  .banner .wrapper-banner .wrapper-text-banner .hero-subjudul {
    font-size: 12px;
  }
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
  .product-details .box-right .wrapper-desc-details {
    padding: 25px;
  }
} */

/* produk details bagian about lgsg bikin spasi */
@media only screen and (max-width: 765px) {
  .product-details .box-right .wrapper-desc-details {
    padding: 10px;
  }
}

/* produk jadi 1-1-1 */
@media only screen and (max-width: 715px) {
  .product .card-deck {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product .card-deck .card {
    width: 75%;  
}

/* tulisan navbar ilang, hero kecil */
@media only screen and (max-width: 465px) {
  .a-style-navbar-x {
    display: none;
  }

  .btn-outline-light{
    display: none;
  }

  /* .navbar a:not(:first-child) {display: none;} */
  .navbar a.fa-bars {
    float: right;
    display: white;
  }  

  .banner .wrapper-banner .wrapper-text-banner .hero-judul {
    font-weight: bold;
    font-size: 32px;
  }

  .banner .wrapper-banner .wrapper-text-banner .hero-subjudul {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive ul li button a {
    float: none;
    display: block;
    text-align: left;
  }

  .banner .wrapper-banner .wrapper-text-banner .hero-judul {
    font-weight: bold;
    font-size: 32px;
  }

  .banner .wrapper-banner .wrapper-text-banner .hero-subjudul {
    font-size: 12px;
  }  
}

/* 
@media only screen and (max-width: 465px) {
  .navbar .responsive {
    position: relative;
  }

  .navbar .responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar .responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .banner .wrapper-banner .wrapper-text-banner .hero-judul {
    font-weight: bold;
    font-size: 32px;
  }

  .banner .wrapper-banner .wrapper-text-banner .hero-subjudul {
    font-size: 12px;
  }  
} 
*/